
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container_first {
  height: 100vh;
  width: 100vw;
  background-image: url(./img/bg-pattern.png), 
  linear-gradient(to right, rgb(218, 37, 50), rgb(125, 66, 149));
}

.jumbotron-yellow {
  height: 400px;
  background-color: rgb(253, 199, 64);
}

.jumbotron-yellow2 {
  background-color: rgb(253, 199, 64);
}

.container-sixth {
  background-color: rgb(34, 34, 34);
  font-size: xx-small;
}

.nav-link {
  padding: 5px;
}

.twitter {
  color: rgb(29, 161, 242)
}

.facebook {
  color: rgb(59, 89, 152);
}

.google {
  color: rgb(221, 75, 57)
}